/* Arrow position: center */
[data-arrow-position="center"] .splide__arrow {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

/* Arrow position: corner top left */
[data-arrow-position="corner-top-left"] .splide__arrow.splide__arrow--prev {
	top: -60px;
	left: 0;
	bottom: auto;
	right: auto;
	transform: none;
	position: absolute;
}
[data-arrow-position="corner-top-left"] .splide__arrow.splide__arrow--next {
	top: -60px;
	left: 0;
	bottom: auto;
	right: auto;
	transform: none;
	position: absolute;
}

/* Arrow position: corner top right */
[data-arrow-position="corner-top-right"] .splide__arrow.splide__arrow--next {
	top: -60px;
	right: 0;
	bottom: auto;
	left: auto;
	transform: none;
	position: absolute;
}
[data-arrow-position="corner-top-right"] .splide__arrow.splide__arrow--prev {
	top: -60px;
	right: 0;
	bottom: auto;
	left: auto;
	transform: none;
	position: absolute;
}

/* Arrow position: corner bottom left */
[data-arrow-position="corner-bottom-left"] .splide__arrow.splide__arrow--prev {
	bottom: -20px;
	left: 0;
	top: auto;
	right: auto;
	transform: none;
	position: absolute;
}
[data-arrow-position="corner-bottom-left"] .splide__arrow.splide__arrow--next {
	bottom: -20px;
	left: 0;
	top: auto;
	right: auto;
	transform: none;
	position: absolute;
}

/* Arrow position: corner bottom right */
[data-arrow-position="corner-bottom-right"] .splide__arrow.splide__arrow--next {
	bottom: -20px;
	right: 0;
	top: auto;
	left: auto;
	transform: none;
	position: absolute;
}
[data-arrow-position="corner-bottom-right"] .splide__arrow.splide__arrow--prev {
	bottom: -20px;
	right: 0;
	top: auto;
	left: auto;
	transform: none;
	position: absolute;
}

/* Fixes WP adding grid/columns to the carousel list and slides, which breaks the carousel layout. */
.hm-carousel .splide__list {
  display: flex !important;
  flex-wrap: nowrap !important;
  gap: 0 !important;
  /* Removes grid/columns from WP */
  grid-template-columns: unset !important;
  column-count: unset !important;
  columns: unset !important;
}

.hm-carousel .splide__slide {
	flex: 0 0 auto !important;
}
